
#topLogo{
    position: absolute;
    margin-left: -190px;
}
#toptitle{
    text-align: left;
    font-family: Futura;
    /*margin-right: 10%;*/
    color: #0068af;
    font-size: 20px;
    margin-top: 10px;
    width: 300px;
    margin-left: 10px;
    /*height: 5px;*/
}
#topsubtitle{
    text-shadow: none;
    font-size: 15px;
    margin-left: 10px;
    /*font-style: italic;*/
    color: #0068af;
}
a:visited{
    color:white;
}

