
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #ff8533;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    align-items: center;
    font-family: Futura;
}
.navbar a:hover {
    color: rgb(221, 219, 219);
    cursor: pointer;
}
#topLogo{
    position: absolute;
    margin-left: 7%;
}
#toptitle{
    text-align: right;
    font-family: Futura;
    margin-right: 10%;
    color: #0068af;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#topsubtitle{
    text-shadow: none;
    font-size: 35px;
    font-style: italic;
}
a:visited{
    color:white;
}

