aniso8601==8.0.0
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.7
Flask-SendGrid==0.7.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pymongo[tls, srv]==3.11.0
python-http-client==3.2.1
python-jose==3.1.0
pytz==2019.2
requests==2.23.0
sendgrid==6.3.0
six==1.12.0
Werkzeug==0.16.0
